*{
  margin: 0;
  padding: 0;
  outline: none;
}
#init-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #2f2f2f;

}
#iphone6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  overflow: hidden;
  border-radius: 50px;
  border: 4px solid #a0a0a0;
  width: 390px;
}
#iphone6 > .header{
  width: 390px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#iphone6 > .screen{
  width: 360px;
  height: 640px;
  background-color: black;
}
#iphone6 > .footer{
  width: 390px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#iphone6 > .header > .camera{
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 100%;
  transform: translateX(-25px);
}
#iphone6 > .header > .speaker{
  width: 60px;
  height: 6px;
  border-radius: 6px;
  background-color: black;
  transform: translateX(-5px);
}

#iphone6 > .footer > .home-button{
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid #a0a0a0;
  border-radius: 100%;
  cursor: pointer;
}
